.bgImage {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("../production/images/wood-panel-3.png");
    background-repeat: repeat;
    background-size: 480px;
}

.forceJavascript {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    overflow: hidden;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    justify-content: center;
    padding-bottom: 0;
    /* padding-top: 94px; */

    .wrapper {
        display: flex;
        /* margin-top: 5px; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--lightButtonSolid);
        border-top: 4px solid var(--darkBrown);
        border-bottom: 4px solid var(--darkBrown);
        padding: 32px 0;
        z-index: 500;
        gap: 16px;
        width: 100%;
    
        .title {
            font-family: Jua;
            font-size: calc(2rem * var(--fontSizeMult));
            text-align: left;
            width: 100%;
            padding: 0 20px;
        }
    
        .buttonWrapper {
            font-family: Jua;
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            width: 100%;
            margin-top: 4px;

            .refreshPage {
                background-color: var(--lightButtonTransparent);
                padding: 4px;
                cursor: pointer;
                border: 3px solid var(--darkBrown);
                font-size: calc(1.5rem * var(--fontSizeMult));
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 15px;
            }
        }
    }
}

.forceJavascript {
    display: flex;
    padding-bottom: 15%;
    padding-top: 0;        
    .wrapper {
        padding: 32px 40px;

        .title {
            text-align: center;
            padding: 0 16px;
        }

        .buttonWrapper {
            justify-content: center;

            .refreshPage {
                text-decoration: none;
                padding: 4px 16px;
            }
        }
    }
}

.requireJavascript {
    display: none !important;
}