.container {
    /* background-color: var(--darkBrown); */
    /* gap: 4px; */
    --tableRows: 2;
    --tableCols: 4;
    --gridRows: 4;
    --gridCols: 4;
    
    .responsive {
        display: grid;
        grid-template-rows: 2fr 1fr;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        height: 100%;

    
    
        .board {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            cursor: grab;
    
            .headerWrapper {
                display: flex;
                justify-content: space-between;
                padding: 0 16px;
                width: 100%;
                height: 100px;
                position: absolute;
                user-select: none;
                pointer-events: none;

                .bookmark {
                    height: 70%;

                    img {
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }

                .percentComplete {
                    font-size: calc(2.25rem * var(--fontSizeMult));
                    place-self: center;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    height: 70px;
                    font-weight: 700;
                }
                
                .star {
                    height: 70%;
                    place-self: center;

                    img {
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
    
            .canvas {
                position: absolute;
                width: 10000px;
                height: 10000px;
                background-size: 50px 50px;
                z-index: 3;
                transform-origin: 0 0;
    
                .grid {
                    /* box-shadow: inset 0 0 0 4px var(--darkBrown); */
                    border: 4px solid var(--darkBrown);
                    user-select: none;
                    /* box-sizing: content-box; */
                    display: grid;
                    grid-template-columns: repeat(var(--gridCols), 1fr);
                    grid-template-rows: repeat(var(--gridRows), 1fr);
                    gap: 0;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    box-shadow:
                        0 0 16px 0 rgb(47, 30, 20, 60%),
                        0 0 8px 0 rgb(47, 30, 20, 70%),
                        0 0 4px 0 rgb(47, 30, 20, 80%),
                        0 0 2px 0 rgb(47, 30, 20, 75%);
                    /* aspect-ratio: 1728 / 1428; */
                    z-index: 100000;
        
                    .bg {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        user-select: none;
                        pointer-events: none;
                        display: flex;
                        opacity: 0.7;
                        z-index: -1;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            image-rendering: pixelated;
                        }
                        
        
                    }
                    
                    .cell {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        box-shadow: inset 0 0 0 2px var(--darkBrown);
    
                        img {
                            width: 100%;
                            image-rendering: pixelated;
                            display: block;
                        }
                    }
    
                    .cell:has(div) {
                        box-shadow: none;
                    }
                }

                .grid::before {
                    display: block;
                    content: "";
                    background-color: var(--lightBrown);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: -1;
                }

                .controllerButtons {
                    user-select: none;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    z-index: 100000;
                    display: none;
                    justify-content: space-between;
                    gap: 32px;
                    
                    --localFontSizeMult: 4;

                    div {
                        background-color: var(--lightButtonSolid);
                        font-size: calc(1.25rem * var(--fontSizeMult) * var(--localFontSizeMult));
                        border-radius: calc(12px * var(--localFontSizeMult));
                        height: min-content;
                        border: calc(3px * var(--localFontSizeMult)) solid var(--darkBrown);
                        padding: calc(4px * var(--localFontSizeMult)) calc(8px * var(--localFontSizeMult));
                        cursor: pointer;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-wrap: wrap;
                    }
                }
            }
        }
        
        .table { 
            border-top: 12px solid var(--darkBrown);
            background-image: url("../production/images/wood-panel-1.png");
            background-repeat: repeat;
            background-size: 480px;
            background-position: 0px 325px;
            position: relative;
            
            display: grid;
            grid-template-columns: repeat(var(--tableCols), 1fr);
            grid-template-rows: repeat(var(--tableRows), 1fr);
            padding: 16px 48px;
            gap: 8px;
            
            .leftBtn, .rightBtn {
                top: 50%;
                position: absolute;
                height: 48px;
                translate: 0 -50%;
                overflow: hidden;
                cursor: pointer;
                
                img {
                    height: 100%;
                    pointer-events: none;
                    user-select: none;
                }
            }
            
            .leftBtn {
                left: 2.5%;
            }
            
            .rightBtn {
                right: 2.5%;
            }
            
            .switchView {
                height: 64px;
                position: absolute;
                bottom: 12px;
                right: 12px;
                cursor: pointer;
                
                img {
                    user-select: none;
                    pointer-events: none;
                    height: 100%;    
                }
            }
    
            /* .dotDisplay {
                position: absolute;
                display: flex;
                left: 50%;
                translate: -50% 0;
                bottom: 5%;
                gap: 4px;
    
                .dot {
                    aspect-ratio: 1;
                    width: 16px;
                    border-radius: 50%;
                    border: 3px solid var(--darkBrown);
                    background-color: var(--lightBrown);
                }
    
                .dot.fill {
                    background-color: var(--lightButtonSolid);
                }
            } */
            
            .pieceSlot {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .piece {
                    width: 100%;
                    max-width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    user-select: none;
        
                    img {
                        user-select: none;
                        display: block;
                        width: 80%;
                    }
                }
            }
        }
        
        .sizePopup {
            z-index: 1500;
            position: fixed;
            top: 94px;
            left: 0;
            width: 100vw;
            height: calc(100vh - 94px);
            padding-bottom: 94px;
            display: flex;
            align-items: center;
            background-color: var(--lightBrown);
    
            .bgWrapper {
                display: flex;
                flex-direction: column;
                gap: 16px;
                background-color: var(--lightButtonSolid);
                border-top: 4px solid var(--darkBrown);
                border-bottom: 4px solid var(--darkBrown);
                padding: 32px 16px;
                width: 100%;
                align-items: center;
    
                .responsive {
                    max-width: 800px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
        
    
                    .title {
                        font-size: calc(2rem * var(--fontSizeMult));
                    }
        
                    .text {
                        font-size: calc(1.25rem * var(--fontSizeMult));
                        padding: 0 16px;
    
                    }
                    
                    .text:has(ul) {
                        /* padding: 0 48px; */
                        
                        ul {
                            margin: -4px 16px;
                            width: 100%;
    
                            li {
                                width: 100%;
                                font-size: calc(1.25rem * var(--fontSizeMult));
                            }
                        }
                    }
    
                    .imgWrapper {
                        border: 3px solid var(--darkBrown);
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 80%;
                        max-height: 320px;
                        /* width: 100%; */
                        margin: 0 auto 0;
                        /* max-width: 80%; */
                        /* max-height: 320px; */
            
                        img {
                            display: block;    
                            height: 100%;
                            width: 100%;
                        }
                    }
            
                    .horizontalWrapper {
                        display: flex;
                        height: 48px;
                        justify-content: space-between;
            
                        .dropdown.wrapper {
                            display: flex;
                            /* align-items: center; */
                            z-index: 2;
                            position: relative;
                            overflow: visible;
                            /* height: 40px; */
            
                            .dropdownArrow {
                                position: absolute;
                                right: 7px;
                                user-select: none;
                                pointer-events: none;
                                top: 50%;
                                translate: 0 -50%;
            
                                img {
                                    width: 32px;
                                    display: block;
                                }
                            }
                            
                            .select {
                                background-color: var(--lightButtonSolid);
                                border: 3px solid var(--darkBrown);
                                border-radius: 12px;
                                height: 100%;
                                font-size: calc(1rem * var(--fontSizeMult));
                                cursor: pointer;
                                color: var(--darkBrown);
                                min-height: 100%;
                                height: fit-content;
                                width: 100%;
                                position: relative;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
            
                                .selectedOption {
                                    padding: 8px;
                                    width: 100%;
                                    font-size: calc(1.25rem * var(--fontSizeMult));
                                    flex-grow: 1;
                                    display: flex;
                                    align-items: center;
                                }
            
                                .options {
                                    display: flex;
                                    height: 0px;
                                    width: 100%;
                                    overflow: hidden;
                                    flex-wrap: nowrap;
            
                                    justify-content: center;
                                    flex-direction: column;
                                    
                                    .option {
                                        padding: 8px 40px 8px 8px;
                                        /* background-color: var(--lightBrown); */
                                        font-size: calc(1.25rem * var(--fontSizeMult));
                                        /* background-color: var(--lightButtonSolid); */
                                        /* display: flex; */
                                    }
            
                                    .option.selected {
                                    }
            
                                    .option:hover {
                                        background-color: var(--lightBrown);
                                        /* width: 100%; */
                                    }
                                }
                            }
            
                            .select.selected {
                                .selectedOption {
                                    background-color: var(--lightBrown);
                                }
            
                                .options {
                                    height: unset;
                                } 
                            }
            
                        }
                    }
        
                    .buttonWrapper {
                        display: flex;
                        justify-content: space-evenly;
                        gap: 16px;
                        margin: 4px 0;
        
                        div {
                            background-color: var(--lightButtonTransparent);
                            font-size: calc(1.25rem * var(--fontSizeMult));
                            border-radius: 15px;
                            border: 3px solid var(--darkBrown);
                            padding: 4px 16px;
                            cursor: pointer;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}