* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--textColor);
    font-family: Jua;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--lightBrown);
}

:root {
    --darkBrown: #2F1E14;
    --lightBrown: #A4734A;
    --textColor: var(--darkBrown);
    --lightTextColor: #462D1D;
    --lightButtonTransparent: rgb(70, 45, 29, 0.4);
    --lightButtonSolid: #7e5738;
    --starColor: #E2AE1D;
    --bookmarkColor: var(--darkBrown);

    --buttonDropShadow: -2px 2px 0px 2px rgb(3, 3, 2, .9);
    
    --fontSizeMult: 1;
    @media screen and (width <= 420px) {
        --fontSizeMult: 0.8;
    }
    @media screen and (width >= 1420px) {
        --fontSizeMult: 1.2;
    }
}

@font-face {
    font-family: Jua;
    src: url(../production/fonts/Jua-Regular.ttf);
}

nav {
    width: 100vw;
    height: 94px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--lightBrown);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    border-bottom: 4px solid var(--darkBrown);
    padding: 0 calc(calc(100vw + 4% - 480px) / 2);
    
    .home, .settings{
        height: 60%;
        aspect-ratio: 1;
        /* background-color: red; */
        border-radius: 50%;
        /* box-shadow: var(--buttonDropShadow); */
        background-size: contain;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3%;
        text-align: center;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .home {
        background-image: url(../production/images/home-button.svg);
    }

    .settings {
        background-image: url(../production/images/settings-button.svg);
    }

    .dividerBar {
        width: 12%;
        height: 8%;
        background-color: var(--darkBrown);
        border-radius: 100px;
        margin: 2%;
    }

    .title {
        font-size: 2.25rem;
        font-family: Jua;
        color: var(--textColor);
        -webkit-text-stroke: 0.06rem var(--textColor);
        text-wrap: nowrap;
    }

    .leaf {
        position: absolute;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        pointer-events: none;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .leaf1 {
        left: calc(50% - 120px);
        translate: -50% 0;
        bottom: -15%;
        rotate: 87deg;
    }

    .leaf2 {
        left: calc(50% + 135px);
        translate: -50% 0;
        top: -12%;
        rotate: 90deg;
    }
}

.floatingLeaves {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    user-select: none;
    pointer-events: none;

    .leaf {
        position: absolute;
        z-index: 1000;
        width: calc(94px * 0.55);
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .leaf1 {
        top: 48.25%;
        left: -17px;
        scale: 1 -1;
        rotate: -128deg;
    }

    .leaf2 {
        right: -5px;
        top: 35.7%;
    }

    .leaf3 {
        top: 91.37%;
        scale: 0.8;
        left: -11px;
    }

    .leaf4 {
        right: -11px;
        top: 94.25%;
        rotate: 99deg;
        scale: 1 -1;
    }
}

.container {
    padding-top: 94px;
    height: 100vh;
    width: 100%;
}